<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="26" android:versionName="1.6.5" package="com.todo.todo"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:debuggable="true" android:backupAgent="com.todo.todo.MyBackupAgent">
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIEBz6YvAP7vPDajfXEpDWoYAwRrANAakiO3xJCw" />
        <activity android:theme="@style/MyTheme" android:name=".KTodo" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.todo.todo.SHOW_WIDGET_DATA" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/edit_tags" android:name=".EditTags" android:launchMode="standard" android:windowSoftInputMode="adjustResize" />
        <activity android:label="@string/widget_configure_title" android:name=".widget.ConfigureActivity" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:label="@string/prefs_title" android:name=".preferences.Preferences" />
        <receiver android:label="@string/widget_2x2" android:name=".widget.KTodoWidget22">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_2x2_info" />
        </receiver>
        <receiver android:label="@string/widget_2x1" android:name=".widget.KTodoWidget21">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_2x1_info" />
        </receiver>
        <receiver android:label="@string/widget_2x4" android:name=".widget.KTodoWidget24">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_2x4_info" />
        </receiver>
        <receiver android:label="@string/widget_4x2" android:name=".widget.KTodoWidget42">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_4x2_info" />
        </receiver>
        <receiver android:label="@string/widget_4x4" android:name=".widget.KTodoWidget44">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_4x4_info" />
        </receiver>
        <service android:name=".widget.UpdateService" />
    </application>
</manifest>
